.background{
    background: linear-gradient(rgb(21, 13, 107) 1.1%, rgb(188, 16, 80) 130.5%);
    /*background-image: url(../../media/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;*/
    color: black;
}

.survey-container{
    background-color: #a37cf0;
}